
! ------------------------------------------------------------------------------
! URxvt standard arcolinux theme - Reload with xrdb -merge ~/.Xresources
! ------------------------------------------------------------------------------



! general settings
URxvt*saveline:         15000
URxvt*termName:         xterm-256color
URxvt*urgentOnBell:     false
URxvt*visualBell:       false
URxvt*iso14755:         false
URxvt*iso14755_52:      false
URxvt*meta8:            false
URxvt*metaSendsEscape:  true
URxvt*iconFile:  	/usr/share/icons/Sardi-Mono/scalable/apps/terminal.svg

! appearance
!URxvt*depth:             32
!URxvt*transparent:       true 
!URxvt*shading:           30
!URxvt*background:        rgba:0000/0000/0000/AAAA
!URxvt*background:        [80]#404552
!URxvt*background:        [70]#3F424A
URxvt*background:        [98]#282A36
URxvt*foreground:        #F8F8FF
URxvt*underlineColor:    #4682B4
URxvt*highlightColor:    #4682B4
URxvt*throughColor:      Blue
URxvt*cursorColor:       #c5c8c6
URxvt*scrollBar:         false
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt*internalBorder:    18
URxvt*externalBorder:    8
URxvt*colorIT:      	 #87af5f
URxvt*colorBD:      	 #c5c8c6
URxvt*colorUL:      	 #87afd7


! colors
URxvt*color0: #3f3f3f
URxvt*color1: #ac3c3c
URxvt*color2: #60b48a
URxvt*color3: #dfaf8f
URxvt*color4: #506070
URxvt*color5: #dc8cc3
URxvt*color6: #8cd0d3
URxvt*color7: #dcdccc
URxvt*color8: #79A9FF
URxvt*color9: #da6e6e
URxvt*color10: #c3bf9f
URxvt*color11: #f0dfaf
URxvt*color12: #94bff3
URxvt*color13: #ec93d3
URxvt*color14: #93e0e3
URxvt*color15: #ffffff

! fonts
URxvt*letterSpace: 	 	-2
URxvt*font:                 	xft:Monospace:regular:size=12
URxvt*imFont:               	xft:Monospace:regular:size=12
URxvt*boldFont:             	xft:Monospace:bold:size=12
URxvt*italicFont:           	xft:Monospace:italic:size=12
URxvt*boldItalicFont:    	xft:Monospace:regular:size=12
! run :.!fc-list | grep <font-name>

! perl extensions
URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select
!URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,tabbed,resize-font

! macros for clipboard and selection
URxvt*copyCommand:      	xclip -i -selection clipboard
URxvt*pasteCommand:     	xclip -o -selection clipboard
URxvt*keysym.M-c:       	perl:clipboard:copy
URxvt*keysym.m-v:       	perl:clipboard:paste
URxvt*keysym.M-C-v:     	perl:clipboard:paste_escaped
URxvt*keysym.M-Escape:  	perl:keyboard-select:activate
URxvt*keysym.M-s:       	perl:keyboard-select:search
URxvt*keysym.M-u:       	perl:url-select:select_next
URxvt*resize-font.smaller:	C-Down
URxvt*resize-font.bigger:	C-Up
URxvt*urlLauncher:      	firefox
URxvt*underlineURLs:    	true
URxvt*urlButton:        	1
URxvt*geometry: 		88x23

! tabbed
URxvt*tabbed.tabbar-fg: 	4
URxvt*tabbed.tabbar-bg: 	16
URxvt*tabbed.tab-fg:    	15
URxvt*tabbed.tab-bg:    	4
URxvt*buffered:         	false
URxvt*keysym.Control-Shift-C: 	perl:clipboard:copy
URxvt*keysym.Control-Shift-V: 	perl:clipboard:paste


! ------------------------------------------------------------------------------
! UXTerm standard arcolinux theme
! ------------------------------------------------------------------------------



! termtype
UXTerm*termName: 	   xterm-256color


UXTerm*cursorColor:        white
UXTerm*VT100.geometry:     88x23
UXTerm*font:               Monospace
UXTerm*faceSize:	   12
UXTerm*dynamicColors:      true
UXTerm*utf8:               2
UXTerm*eightBitInput:      true
UXTerm*saveLines:          10000
UXTerm*scrollKey:          true
UXTerm*scrollTtyOutput:    false
UXTerm*scrollBar:          false
UXTerm*rightScrollBar:     false
UXTerm*jumpScroll:         true
UXTerm*multiScroll:        true
UXTerm*toolBar:            false

! fix colors
UXTerm*background: rgb:63/63/63
UXTerm*foreground: rgb:00/00/00
UXTerm*color0: rgb:00/00/00
UXTerm*color1: rgb:a8/00/00
UXTerm*color2: rgb:00/a8/00
UXTerm*color3: rgb:a8/54/00
UXTerm*color4: rgb:00/00/a8
UXTerm*color5: rgb:a8/00/a8
UXTerm*color6: rgb:00/a8/a8
UXTerm*color7: rgb:a8/a8/a8
UXTerm*color8: rgb:54/54/54
UXTerm*color9: rgb:fc/54/54
UXTerm*color10: rgb:54/fc/54
UXTerm*color11: rgb:fc/fc/54
UXTerm*color12: rgb:54/54/fc
UXTerm*color13: rgb:fc/54/fc
UXTerm*color14: rgb:54/fc/fc
UXTerm*color15: rgb:fc/fc/fc
UXTerm*boldMode: false
UXTerm*colorBDMode: true
UXTerm*colorBD: rgb:3f/3f/3f
